<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}Falcon</title>

    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}?v=100"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='layer/skin/layer.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/g.css') }}?v=100"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='layer/layer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='layer/extend/layer.ext.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/g.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='grafana_statics/grafana.light.min.92672c38.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='grafana_statics/fav32.png')}}">
    <script type="text/javascript" src="{{url_for('static', filename='grafana_statics/jquery-2.1.4.min.js')}}" />
    <script src="{{url_for('static', filename='grafana_statics/app.6903da0e.js')}}"></script>
</head>
<body ng-controller="GrafanaCtrl" ng-class="{&#39;sidemenu-open&#39;: contextSrv.sidemenu}" data-feedly-mini="yes" class="ng-scope sidemenu-open">
    <script src="{{url_for('static', filename='grafana_statics/jQueryRotate.js')}}"></script>
    <script src="{{url_for('static', filename='grafana_statics/jquery.easing.1.3.js')}}"></script>
    <script src="{{url_for('static', filename='grafana_statics/owl-rotate.js')}}"></script>
<!--============================ SideMenu Bar ============================-->

    <div class="sidemenu-canvas">
        <!-- ngIf: contextSrv.sidemenu -->
        <aside class="sidemenu-wrapper ng-scope" ng-if="contextSrv.sidemenu">
            <!-- ngInclude: 'app/partials/sidemenu.html' -->
            <div ng-include="&#39;app/partials/sidemenu.html&#39;" class="ng-scope">
                <div ng-controller="SideMenuCtrl" ng-init="init()" class="ng-scope">
                    <ul class="sidemenu sidemenu-main">
                        <li style="margin-bottom: 15px">
                            <a class="pointer sidemenu-top-btn" ng-click="contextSrv.toggleSideMenu()" style="height:52px">
                            </a>
                        </li>
                        <!-- ngIf: systemSection -->
                        <!-- ngRepeat: item in mainLinks -->
                        <li ng-repeat="item in mainLinks" class="ng-scope"><a href="http://grafana.owlemon.com" class="sidemenu-item"
                            target=""><span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-th-large"></i></span> <span class="sidemenu-item-text ng-binding">Dashboards</span></a>
                        </li>
                    </ul>
                    <!-- ngIf: !systemSection -->
                    <ul class="sidemenu sidemenu-small ng-scope" style="margin-top:101px" id="sidemenu-user" ng-if="!systemSection">
                        <li ng-if="contextSrv.user.isSignedIn" class="dropdown" id="sidemenu-user">
                            <a href="#" class="sidemenu-item" id="sidemenu-user">
                                <img ng-src="https://secure.gravatar.com/avatar/46d229b033af06a191ff2267bca9ae56?s=90&amp;default=mm"
                                src="{{url_for('static', filename='grafana_statics/46d229b033af06a191ff2267bca9ae56')}}"> <span class="sidemenu-item-text ng-binding">User</span>
                                <i class="fa fa-caret-down small"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" style="left: 65px">
                                <!-- ngRepeat: menuItem in orgMenu -->
                                <li ng-repeat="menuItem in orgMenu" ng-class="menuItem.cssClass" class="ng-scope">
                                    <a href="/me/profile" ng-if="menuItem.href" class="ng-binding ng-scope"> 
                                    <i class="fa fa-fw fa-cog" ng-if="menuItem.icon"></i>Settings</a>
                                </li>
                                <li ng-repeat="menuItem in orgMenu" ng-class="menuItem.cssClass" class="ng-scope divider"> </li>
                                <li ng-repeat="menuItem in orgMenu" ng-class="menuItem.cssClass" class="ng-scope">
                                    <a href="/me/teams" ng-if="menuItem.href" class="ng-binding ng-scope"> 
                                    <i class="fa fa-fw fa-users" ng-if="menuItem.icon"></i>Group</a>
                                </li>
                                <li ng-repeat="menuItem in orgMenu" ng-class="menuItem.cssClass" class="ng-scope">
                                    <a href="/me/users" ng-if="menuItem.href" class="ng-binding ng-scope"> 
                                    <i class="fa fa-fw fa-book" ng-if="menuItem.icon"></i>Contacts</a>
                                </li>
                                <li ng-repeat="menuItem in orgMenu" ng-class="menuItem.cssClass" class="ng-scope divider"> </li>
                                <li ng-repeat="menuItem in orgMenu" ng-class="menuItem.cssClass" class="ng-scope">
                                    <a href="/auth/login" ng-if="menuItem.href" class="ng-binding ng-scope"> 
                                    <i class="fa fa-fw fa-sign-in" ng-if="menuItem.icon"></i> Sign In</a>
                                </li>
                                <li ng-repeat="menuItem in orgMenu" ng-class="menuItem.cssClass" class="ng-scope">
                                    <a href="/me/logout" ng-if="menuItem.href" class="ng-binding ng-scope"> 
                                    <i class="fa fa-fw fa-sign-out" ng-if="menuItem.icon"></i> Sign Out</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://alert.owlemon.com" class="sidemenu-item pointer">
                                <span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-exclamation-triangle"></i></span> <span class="sidemenu-item-text ng-binding">Alert</span></a>
                        </li>
                        <li>
                            <a href="http://portal.owlemon.com" class="sidemenu-item pointer">
                                <span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-book"></i></span> <span class="sidemenu-item-text ng-binding" style="box-sizing: content-box;">Scheme Portal</span></a>
                        </li>
                        <li>
                            <a href="http://falcon-dashboard.owlemon.com" class="sidemenu-item pointer">
                                <span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-line-chart"></i></span> <span class="sidemenu-item-text ng-binding" style="box-sizing: content-box;">Falcon-DBoard</span></a>
                        </li>
                    </ul>
                    <!-- end ngIf: !systemSection -->
                    <!-- ngIf: systemSection -->
                </div>
            </div>
        </aside>
        <div class="page-alert-list">
        </div>
        <div ng-view="" class="main-view ng-scope">

            <!--============================ Top Navigation Bar ============================-->

            <div ng-include="" src="topNavPartial" class="ng-scope">
                <div class="navbar navbar-static-top ng-scope" ng-controller="DashboardNavCtrl"
                ng-init="init()">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <div class="top-nav" style="position:fixed;width:100%;z-index:9999;left:0px;background-color:#f8f8f8;box-shadow:0 2px 5px rgba(0,0,0,.3);">
                                <a href="#" class="sidemenu-top-btn" style="float:left">
                                    <img class="logo-icon" src="{{url_for('static', filename='grafana_statics/fav32.png')}}"><i class="pull-right fa fa-angle-left" style="margin-left:115px"></i>
                                </a>

                                {% block navcontainer %} {% endblock %}

<!--====================================== Start of Top Navigation Bar ===============================
                                <ul class="nav pull-left top-nav-dash-actions">
                                    <li ng-show="dashboardMeta.canStar" class="">
                                        <a class="pointer" ng-click="starDashboard()">
                                            <i class="fa fa-star-o" ng-class="{'fa-star-o': !dashboardMeta.isStarred, 'fa-star': dashboardMeta.isStarred}"
                                            style="color: orange;"></i>
                                        </a>
                                    </li>
                                    <li ng-show="dashboardMeta.canShare" class="ng-hide">
                                        <a class="pointer ng-scope" ng-click="shareDashboard()" bs-tooltip="'Share dashboard'"
                                        data-placement="bottom" data-original-title=""
                                        title=""><i class="fa fa-share-square-o"></i></a>
                                    </li>
                                    <li ng-show="dashboardMeta.canSave" class="ng-hide">
                                        <a ng-click="saveDashboard()" bs-tooltip="'Save dashboard'" data-placement="bottom"
                                        class="ng-scope" data-original-title=""
                                        title=""><i class="fa fa-save"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="pointer" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="pointer" ng-click="exportDashboard();">Export</a>
                                            </li>
                                            <li><a class="pointer" ng-click="editJson();">View JSON</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
================================= End of Top Navigation Bar ================================--!>
                            </div>

                            <!--============================ Content Container ============================-->

                            <div class="main-view-container">
                                <div class="panels-wrapper ng-scope" ng-if="!row.collapse">
                                    <panel-loader type="panel.type" class="panel-margin">
                                        <grafana-panel-text class="ng-scope">
                                            <grafana-panel>
                                                <div class="panel-container" ng-class="{'panel-transparent': panel.transparent}"
                                                style="min-height: 100px; display: block;">

<header role="banner">
    <div style="margin: 20px 10px; {% if g.xbox %}display: none;{% endif %}">
        <div class="pull-left" style="margin-right: 10px;">
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="60px"
                     height="60px">
            </a>
        </div>
        <div class="pull-left">
            <h1 style="font-weight: bold; font-family: Georgia,Times,'Times New Roman',serif; margin-top: 10px;">
                Falcon
            </h1>
        </div>

        <div class="pull-left" style="margin-left: 20px; margin-top: 10px;">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="{% if not g.menu %}active{% endif %}"><a href="/">HostGroups</a></li>
                <li role="presentation" class="{% if g.menu == 'templates' %}active{% endif %}"><a href="{{ url_for('templates_get') }}">Templates</a></li>
                <li role="presentation" class="{% if g.menu == 'expressions' %}active{% endif %}"><a href="{{ url_for('expressions_get') }}">Expressions</a></li>
            </ul>
        </div>

        <div class="pull-right">
            welcome, {{ g.user_name }}
        </div>
        <div style="clear: both;"></div>
        <hr>
    </div>
</header>
<div style="margin: 0 10px;{% if g.xbox %}margin-top: 10px;{% endif %}">
    {% block content %}{% endblock %}
</div>
                                                </div>
                                            </grafana-panel>
                                        </grafana-panel-text>
                                    </panel-loader>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
<
</body>
</html>
